<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <link rel="stylesheet" type="text/css" href="../css/boton.css">
    
    <title>Inicio</title>
</head>

<body>

    <!--nav class="principal">
        <ul>
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Informacion</a></li>
            <li><a href="#">Contacto</a></li>
        </ul>
    </nav-->
    
    <header>
      
        <h1>Pagina principal</h1>
        
        <nav class="principal">
            <ul>
                <li><a href="/">Inicio</a></li>
                <li><a href = "/products">Productos</a></li>                
            </ul>
        </nav>
        
    </header>
      
 <main>
    
 </main>
    
    <footer>
          
        <p>Contactános<p>                
        <p> Direccion San Martin 2052 Local 55</p> 
        <p> Atencion al cliente : 8585-8585</p> 
        <p> Telegram: 1154585452</p> 
     
    </footer>
    
</body>

</html>
